body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #c1502e;
}

.container body {
    padding-top: 5%;
    height: 100%;
}


/* Jumbotron CSS for styling */

.jumbotron {
    background-color: #c1502e;
    text-align: center;
    color: #fafafa;
    width: 100%;
    height: 100%;
    padding-bottom: 0%;
    padding-top: 2px;
}


/* Jumbotron Background Image Display */

.jumbo-picture-display {
    background-image: url("../images/trivia-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    width: 100%;
}


/* Jumbotron main title color to stand out */

#jumbo-title {
    color: black;
}


/* Jumbotron paragraph text to stand out */

#jumbo-p {
    color: black;
}

h1 {
    font-size: 4.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fafafa;
}


/* container section */


/* Main Container formatting */

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.center-column {
    align-items: center;
}

.score-area {
    background-color: orange;
}


/* Main button bootstrap overwrite default styling */

.btn-primary {
    background-color: orange;
    border-style: none;
    border: black;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: black;
}

.button-main-title {
    padding-bottom: 0%;
    padding-top: 0%;
}

.question-section {
    align-items: center;
    text-align: center;
    padding-bottom: 20%;
}

.choice-section {
    background-color: #fed8b1;
    margin-bottom: 2px;
    width: 100%;
    font-size: 1.8rem;
}

.choice-options {
    padding: 1.5rem 2.5rem;
    background-color: orange;
    color: white;
}

.choice-options:hover {
    cursor: pointer;
}


/* If answer correct button will go green */

.correct {
    background-color: green;
}


/* If answer incorrect button will go red*/

.wrong {
    background-color: red;
}


/* HUD */

#hud {
    justify-content: space-around;
}


/* question score text size */

.hud-prefix {
    font-size: 70px;
}

.hud-main-text {
    font-size: 50px;
}