body {
    font-family: 'Bubblegum Sans', cursive;
    background-color: #c1502e;
}

.container body {
    padding-top: 5%;
    height: 100%;
}

.jumbotron {
    background-color: #c1502e;
    text-align: center;
    height: 100px;
    size: 50px;
    color: #fafafa;
}

.navbar {
    padding-bottom: 2%
}

h1 {
    font-size: 4.2rem;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #FF8C00;
}


/* container section */

.container {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
}

.center-column {
    align-items: center;
}

.score-area {
    background-color: orange;
}

.btn-primary {
    background-color: orange;
    border-style: none;
    border: black;
}

.btn-primary:hover {
    cursor: pointer;
    background-color: black;
}

.question-section {
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

.choice-section {
    background-color: #fed8b1;
    margin-bottom: 2px;
    width: 100%;
    font-size: 1.8rem;
}

.choice-options {
    padding: 1.5rem 2.5rem;
    background-color: orange;
    color: white;
}

.choice-options:hover {
    cursor: pointer;
}

.modal-content {
    text-align: center;
    padding-top: 5px padding-bottom 5px;
    display: inline-block;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}


/* HUD */

#hud {
    justify-content: space-around;
}

.hud-prefix {
    font-size: 70px;
}

.hud-main-text {
    font-size: 50px;
}

.score-section {
    text-decoration: underline;
    letter-spacing: 2px;
}

.results-section {
    text-decoration: underline;
    letter-spacing: 2px;
    background-color: #fed8b1;
    width: 100%;
}


/* FORMS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    font-size: 1.8rem;
    border: none;
}